@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Second.Model;
@model IList<DepartmentInfo>
    <div>

    </div>
    <form action="/" method="post">

    </form>
