
@{
    ViewData["Title"] = "Index";
}

<h1>Save your cookies</h1>
<form asp-controller="Cookie" asp-action="WriteCookie" method="post">
    <select name="cookieName">
        <option value="Username">Username</option>
        <option value="Password">Password</option>
    </select>

    <input type="text" name="cookieValue" />
    <input type="checkbox" name="isPersistent" value="true"/>?IsPersistent
    <input type="submit" value="Add Cookie" />
</form>
<p><a asp-controller="Cookie" asp-action="ReadCookie">Read Cookies</a></p>
<p>@ViewBag.message</p>

