@using Second.Model;
@model PdfModel

<h1>@Model.Header</h1>
<p>
    @Model.Body
</p>

<a id="exportPdf" class="btn" title="Export to PDF" href="#"><img src="~/images/pdf.png" /></a>
@section Scripts{
    <script type="text/javascript">
        var exportPdf = function () {
            var model = new Object();
            model.Header = "hello world";
            model.Body = "what is up?";
            var strModel = JSON.stringify(model);
            var url = "/pdf/ExportPdf?strModel=_model";
            url = url.replace("_model", strModel);
            window.open(url);
        };
        $(document).ready(function () {
            $('#exportPdf').click(exportPdf);
        });
    </script>
}