@*
    build-in htmlhelper
*@
@model System.Collections.Generic.List<ModelClassLibrary.Student>
@using ModelClassLibrary;


<div>
    <h2>Dropdown List-single selection</h2>

    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.DisplayFor(m => m[i].StudentId)
        @Html.DropDownListFor(m => m[i].StudentGender,
               new SelectList(Enum.GetValues(typeof(Gender))),
               "Select Gender")
        <br />
    }
    <hr />

</div>

<div>
    <h2>Dropdown List-multiple selection</h2>
    @for (var i = 0; i < Model.Count; i++)
    {
        @Html.DisplayFor(m => m[i].StudentId)
        @Html.ListBoxFor(m => m[i].SelectedTeaIds, (List<SelectListItem>)ViewBag.TeaTypes, new
   {
       @style = "width:200px; background-color:yellow; padding:15px;",
       @title = "Select Multiple Options",
       @align = "left",
       multiple = "multiple",
       @class = "Subjects_dropdown"
   })
        <br />
    }
</div>
<hr />

<div>
    <h2>Dropdown List-multiple selection</h2>
    <select id="example0" multiple>
        <optgroup label="Mathematics">
            <option value="analysis">Analysis</option>
            <option value="algebra">Linear Algebra</option>
            <option value="discrete">Discrete Mathematics</option>
            <option value="numerical">Numerical Analysis</option>
            <option value="probability">Probability Theory</option>
        </optgroup>
        <optgroup label="Computer Science">
            <option value="programming">Introduction to Programming</option>
            <option value="automata">Automata Theory</option>
            <option value="complexity">Complexity Theory</option>
            <option value="software">Software Engineering</option>
        </optgroup>
    </select>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            //https://www.jqueryscript.net/demo/jQuery-Multiple-Select-Plugin-For-Bootstrap-Bootstrap-Multiselect/
            $('.Subjects_dropdown').each(function () {
                $(this).multiselect({
                    buttonClass: 'custom-select',
                    buttonWidth: '300px'
                });
            });

            $('#example0').multiselect();
        });
    </script>
}