@{ 
    @*GetExecutingAssembly() will get the Views assembly info*@
    @*GetEntryAssembly() will get the main assembly info*@
    Version version = System.Reflection.Assembly.GetEntryAssembly().GetName().Version;
    DateTime buildDate = new DateTime(2020, 10, 05).AddDays(version.Build).AddMinutes(version.Revision);
    string displayableVersion = $"{version} ({buildDate})";

    var assemblyLocation = System.Reflection.Assembly.GetExecutingAssembly().Location;
    assemblyLocation = assemblyLocation == "" ? System.Reflection.Assembly.GetEntryAssembly().Location : assemblyLocation;
    var fileVersion = System.Diagnostics.FileVersionInfo.GetVersionInfo(assemblyLocation).FileVersion;
    var infoVersion = System.Diagnostics.FileVersionInfo.GetVersionInfo(assemblyLocation).ProductVersion;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Second.WebUI</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
        <link rel="stylesheet" href="~/css/Spinner.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" />
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
    </environment>
    @await RenderSectionAsync("Styles", required: false)
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Second.WebUI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @*<div id="loading" class="loading">Loading&#8230;</div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Second.WebUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            Version: @displayableVersion
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="/Constant/GetConstants"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
