<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <targets>
        <target xsi:type="Console" name="console" encoding="UTF-8">
            <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdc="true" includeMdlc="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}"/>
                <attribute name="logger" layout="${logger}"/>
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=tostring}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Warn" writeTo="console" />
        <logger name="FileProcessor.*" minlevel="Debug" writeTo="console" />
    </rules>
</nlog>