@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer L

@{

}

@section Styles {

}

<div class="row">
    <div class="col-xs-12">
        <h1 class="h1">Emails</h1>
        <a href="#" class="back-to-analytic-home-view pull-left"><i class="far fa-chevron-circle-left"></i> @L["Back"]</a>
        <div class="analytics-actions-bar pull-right">
            <div class="search-bar">
                <input id="analytics-email-search" type="text" placeholder="@L["Search"] ..." aria-label="@L["SearchTerm.ariaLabel"]" />
                <a href="#" aria-label="@L["Search.ariaLabel"]"><i class="fas fa-search"></i></a>
            </div>
            <a href="#" id="analytic-email-export-btn" class="action-icon"
               data-toggle="tooltip" title="Export" aria-label="Export"><i class="fas fa-arrow-to-bottom"></i></a>
            <a href="#" class="analytic-filter-btn action-icon"
               data-toggle="tooltip" title="Filter" aria-label="Filter"><i class="fas fa-filter"></i></a>
        </div>
    </div>
</div>


@section Scripts {

}
