@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div> @ViewData["Title"] </div>
    <div> @ViewBag.Title </div>

    <div> @ViewBag.Name </div>
    <div> @ViewBag.Age </div>
</div>
